body{
background-color: #34495e;

}

.container{
  display: grid;
  grid-template-columns: repeat(2,1fr,5%);
  grid-template-rows: repeat(2,1fr);
  grid-template-areas: "titulo videos"
                       "reproductor videos"
                       "controles videos";


  height: 600px;


}

.reproductor{
  display: grid;

  margin-left: 200px;
  height: auto;
  grid-area: reproductor;
  align-content: center;
  justify-content: center;


}

.controles{
  display:grid;
  margin-top: 30px;
  margin-left: 200px;
  grid-area:controles;

  grid-template-columns: repeat(7,20px);
  grid-template-rows: 70px;

  
  grid-gap: 70px;
  justify-content: center;
  border: 2px solid black;
  border-radius: 10px;

}

.videos{

  display: grid;
  grid-area: videos;


}
/* Todo lo relacionado con la publicidad */

.publicidad{
 margin-top: 5%;
 margin-left: 10%;
 width: 400px;
 height: 200px;
 border: 1px yellow solid;
 background-color: red;
 z-index: 1;
 position: absolute;

}

.publicidadCerrada{
 margin-top: 5%;
 margin-left: 10%;
 width: 400px;
 height: 200px;
 background-color: red;
 z-index: 1;
 position: absolute;
 visibility: hidden;

}

#cerrar{

  border: none;
  margin-left: 90%;
  background-color: red;
  height: 30px;
  width:30px;

  background-image: url("../images/close-24px.svg");
  background-size: contain;


}

p{
  font-size: 20px;
  text-align: center;
  font-family: sans-serif;
}

/* Barra de progreso del video */

.progress{

  margin-top: 10px;
  bottom: 5px;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  height: 15px;
  border-radius: 5px;
  background-color: #333;

}

.progress .bar{
  height: 15px;
  width: 0%;
  background-color: red;
  border-radius: 5px;
}

/* Anchura de los videos en el reproductor */

#video1{
border: 3px solid black;
border-radius: 10px;

z-index: -1;


}

.videos *{
  margin-left: 50px;
  height: 300px;
  width: 440px;
}

/* Imagenes de los controles */

button{
  border: none;
  margin-top: 1em;
  background-color: #34495e;
}
#silenciar{
  height: 50px;
  width:50px;
  background-image: url("../images/volume_off-24px.svg");
  background-size: contain;
}

#rebobinar{
  height: 50px;
  width:50px;
  background-image: url("../images/replay_10-24px.svg");
  background-size: contain;
}

#play{
  height: 50px;
  width:50px;
  background-image: url("../images/play_arrow-24px.svg");
  background-size: contain;
}
#pause{
  height: 50px;
  width:50px;
  background-image: url("../images/pause-24px.svg");
  background-size: contain;
}

#adelantar{
  height: 50px;
  width:50px;
  background-image: url("../images/forward_10-24px.svg");
  background-size: contain;
}

#reiniciar{
  height: 50px;
  width:50px;
  background-image: url("../images/replay-24px.svg");
  background-size: contain;
}

#volumenUp{
  height: 50px;
  width:50px;
  background-image: url("../images/volume_up-24px.svg");
  background-size: contain;
}

#volumenDown{
  height: 50px;
  width:50px;
  background-image: url("../images/volume_down-24px.svg");
  background-size: contain;
}
